# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from ipywidgets.embed import embed_minimal_html
import json

# Import API key
from api_keys import api_key_GMPS

gmaps.configure(api_key = api_key_GMPS )

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
Cities_DF = "Cities_DF2.csv"
Cities_DF  = pd.read_csv(Cities_DF)
Cities_DF

,Cities,Temperature (C),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Latitude,Longitude
0,sao miguel do araguaia,10.16,85,100,3.26,NZ,-46.19,168.86
1,yellowknife,27.81,72,45,3.49,BR,-13.28,-50.16
2,taolanaro,7.23,49,75,5.10,CA,62.46,-114.35
3,loucovice,18.43,100,25,2.53,ID,-9.86,124.28
4,puerto ayora,13.88,55,0,4.47,CZ,48.62,14.26
...,...,...,...,...,...,...,...,...
548,freeport,27.31,94,40,1.50,MY,5.41,100.34
549,prachuap khiri khan,16.89,25,20,4.60,US,40.66,-73.58
550,mpika,28.09,77,0,3.18,TH,11.82,99.78
551,garmisch-partenkirchen,15.18,80,19,2.09,ZM,-11.83,31.45
552,NaN,19.10,32,0,4.60,DE,47.49,11.10

In [3]:
Cities_DF2 = Cities_DF.dropna()
Cities_DF2

,Cities,Temperature (C),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Latitude,Longitude
0,sao miguel do araguaia,10.16,85,100,3.26,NZ,-46.19,168.86
1,yellowknife,27.81,72,45,3.49,BR,-13.28,-50.16
2,taolanaro,7.23,49,75,5.10,CA,62.46,-114.35
3,loucovice,18.43,100,25,2.53,ID,-9.86,124.28
4,puerto ayora,13.88,55,0,4.47,CZ,48.62,14.26
...,...,...,...,...,...,...,...,...
547,george town,30.00,48,40,3.09,MX,18.73,-103.68
548,freeport,27.31,94,40,1.50,MY,5.41,100.34
549,prachuap khiri khan,16.89,25,20,4.60,US,40.66,-73.58
550,mpika,28.09,77,0,3.18,TH,11.82,99.78
551,garmisch-partenkirchen,15.18,80,19,2.09,ZM,-11.83,31.45

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Store latitude and longitude in locations
locations  = Cities_DF2[["Latitude","Longitude"]]

# Filla NaN values and convert to float
Humidity = Cities_DF2["Humidity (%)"].astype("float")

In [5]:
# Customize the size of the figure
figure_layout = {
    'width': '500px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
Map = gmaps.figure(layout=figure_layout)

heat_layer = gmaps.heatmap_layer(
    locations,
    weights = Humidity,
    dissipating = False,
    point_radius=1
)

Map.add_layer(heat_layer)
embed_minimal_html('HeatMap.html', views=[Map])
Map

Figure(layout=FigureLayout(border='1px solid black', height='400px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Create Northern and Southern Hemisphere DataFrames
Cities_LB = Cities_DF[(Cities_DF['Latitude'] >= -20) & 
                         (Cities_DF['Latitude'] <=20 ) &
                         (Cities_DF['Humidity (%)'] >=60 ) & 
                         (Cities_DF['Temperature (C)'] >=20 )]


Cities_LB.to_csv('CitiesLB.csv',index=False)
Cities_LB

,Cities,Temperature (C),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Latitude,Longitude
1,yellowknife,27.81,72,45,3.49,BR,-13.28,-50.16
5,fortuna,27.51,74,20,7.20,EC,-0.74,-90.35
9,vaini,30.00,79,20,5.10,GA,-0.72,8.78
16,jamestown,23.69,83,10,1.54,MG,-13.20,49.05
29,samalaeulu,28.19,79,100,4.22,KI,3.07,172.79
...,...,...,...,...,...,...,...,...
538,leningradskiy,22.74,90,98,1.10,CF,5.40,26.49
545,arinos,29.00,83,20,4.10,OM,17.02,54.09
546,coahuayana,27.39,60,80,1.80,BR,-15.92,-46.11
548,freeport,27.31,94,40,1.50,MY,5.41,100.34
550,mpika,28.09,77,0,3.18,TH,11.82,99.78

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = Cities_LB[['Cities','Latitude','Longitude','Country']]
hotel_df['Hotel Name'] = ''

/Users/luisjavierbonillamendoza/opt/anaconda3/envs/PyEnv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
hotel_df

            Cities  Latitude  Longitude Country Hotel Name
1      yellowknife    -13.28     -50.16      BR
5          fortuna     -0.74     -90.35      EC
9            vaini     -0.72       8.78      GA
16       jamestown    -13.20      49.05      MG
29      samalaeulu      3.07     172.79      KI
..             ...       ...        ...     ...        ...
538  leningradskiy      5.40      26.49      CF
545         arinos     17.02      54.09      OM
546     coahuayana    -15.92     -46.11      BR
548       freeport      5.41     100.34      MY
550          mpika     11.82      99.78      TH

[126 rows x 5 columns]

In [9]:
# For test code only
Hotel2_Df = hotel_df.head(3)
Hotel2_Df

        Cities  Latitude  Longitude Country Hotel Name
1  yellowknife    -13.28     -50.16      BR
5      fortuna     -0.74     -90.35      EC
9        vaini     -0.72       8.78      GA

In [10]:
#For test code only
target_type = "hotel"
coords = f"{hotel_df.iat[1,1]},{hotel_df.iat[1,2]}"
#print(coords)

params = {
    "types":"hotel",
    "radius": 5000,
    "key": api_key_GMPS,
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params["location"] = f"{hotel_df.iat[1,1]}, {hotel_df.iat[1,2]}"
print(params)
# run a request using our params dictionary
response = requests.get(base_url, params).json()
#print(response)
#print(json.dumps(response, indent=4, sort_keys=True))
print(response["results"][0]["name"])
#print(response["results"][0]["vicinity"])

{'types': 'hotel', 'radius': 5000, 'key': 'AIzaSyCW5QfglrNSbPA-GjJCqZ2BCtzKKy4X0Wo', 'location': '-0.74, -90.35'}
Puerto Ayora

In [11]:
params = {
    "types":"hotel",
    "radius": 5000,
    "key": api_key_GMPS
}
for i, row in hotel_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params["location"] = f"{row['Latitude']}, {row['Longitude']}"
    #print(params2)
    
    try:
        response = requests.get(base_url, params).json()
        #print(response)
        hotel_df.loc[i,"Hotel Name"] = response["results"][0]["name"]
    except:
        hotel_df.loc[i,"Hotel Name"] = ""

/Users/luisjavierbonillamendoza/opt/anaconda3/envs/PyEnv/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [12]:
hotel_df.to_csv('hotel.csv',index=False)
hotel_df

            Cities  Latitude  Longitude Country              Hotel Name
1      yellowknife    -13.28     -50.16      BR  São Miguel do Araguaia
5          fortuna     -0.74     -90.35      EC            Puerto Ayora
9            vaini     -0.72       8.78      GA             Port-Gentil
16       jamestown    -13.20      49.05      MG                Ambilobe
29      samalaeulu      3.07     172.79      KI      Isles Sunset Lodge
..             ...       ...        ...     ...                     ...
538  leningradskiy      5.40      26.49      CF                     Obo
545         arinos     17.02      54.09      OM                 Salalah
546     coahuayana    -15.92     -46.11      BR                  Arinos
548       freeport      5.41     100.34      MY             George Town
550          mpika     11.82      99.78      TH     Prachuap Khiri Khan

[126 rows x 5 columns]

In [16]:
hotel_df.loc[hotel_df['Country'] == "MX"]

        Cities  Latitude  Longitude Country    Hotel Name
127  taoudenni     19.22     -104.7      MX  San Patricio

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{Cities}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [15]:
# Create a map using state centroid coordinates to set markers
marker_locations = hotel_df[['Latitude', 'Longitude']]

# Create a marker_layer using the poverty list to fill the info box
markers = gmaps.marker_layer(marker_locations,info_box_content=hotel_info)

Map.add_layer(markers)
embed_minimal_html('Heat&MarkersMap.html', views=[Map])
Map

Figure(layout=FigureLayout(border='1px solid black', height='400px', margin='0 auto 0 auto', padding='1px', wi…

In [ ]:
# Add marker layer ontop of heat map


# Display Map